# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
backend/venv/
frontend/venv/

# OS
.DS_Store

# Chroma DB
backend/chroma_db/
backend/tts_cache/

# Database
backend/law.db

# VSCode
.vscode/

# Logs
*.log
